.Edit {
  min-height: 100vh;
  width: 83%;
  background-color: var(--black);
  margin-left: 17%;
  border: 1px solid var(--mid-black);
}

.Edit header {
  height: 11vh;
  display: flex;
  padding: 0 35px 0 45px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--mid-black);
}

.Edit header div:nth-child(1) {
  color: var(--light-grey);
  display: flex;
  font-weight: 300;
  align-items: center;
  font-size: 0.95rem;
}

.Edit header div:nth-child(1) i {
  margin: 0 7.5px;
  font-size: 1rem;
}

.editContainer {
  padding: 30px 40px;
  color: var(--white);
  height: 88.7vh;
}

.form {
  height: 99.9%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.form label {
  margin-bottom: 10px;
  width: 50%;
}

.form input {
  color: var(--white);
  width: 100%;
  border: 1px solid var(--pink);
  height: 40px;
  border-radius: 7px;
  background-color: var(--mid-black);
  outline: none;
  padding: 0 0 0 10px;
  margin-top: 3px;
}

.form button {
  width: 50%;
  color: var(--white);
  border: none;
  height: 40px;
  border-radius: 7px;
  background-color: var(--pink);
  transition: all 300ms ease-in-out;
  cursor: pointer;
  margin: 10px 0;
}

.form button:disabled {
  color: var(--white);
  background-color: rgb(65, 65, 65);
}

.form button:enabled:hover {
  background-color: var(--pink-heavy);
}