a {
  text-decoration: none;
}

.Profile {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all .3s ease-out;
}

.Profile:hover {
  background-color: var(--mid-black);
}

.Profile p {
  font-weight: 500;
  color: var(--light-grey);
}

.Profile img {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  border: 1px solid var(--mid-black);
  margin-left: 10px;
}